h1{
	font: bold;
	text-align: center;
}

p {
	text-align: left;
}

.black {
	background-color: #000;
	color:#fff;
}

.white {
	background-color:#fff;
	color:#000;
}
section {
	    height: 300px;
		width:100%;
		padding: 10px 10px 10px 10px;
}
